@import url(./theme/colours.css);

* {
	color: var(--grey700);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100dvh;
	overflow: hidden;

	background-color: var(--grey50);

	main {
		display: inherit;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		h1 {
			color: var(--primary700);
		}

		h1.big {
			font-size: 6rem;
			margin-bottom: 0;
		}

		.buttons {
			display: flex;
			gap: 8px;

			button {
				padding: 8px 16px;
				background-color: var(--shades0);
				border: none;
				border-radius: 4px;
				cursor: pointer;
			}

			button.primary {
				background-color: var(--primary500);
				color: var(--primary50);
			}

			button:hover {
				background-color: var(--primary300);
				color: var(--primary950);
			}

			button.primary:hover {
				background-color: var(--primary700);
				color: var(--primary50);
			}
		}
	}
}
